input.hidden(
    tg-file-change="vm.importBugclaim(files)"
    type="file"
)
.import-project-logo
    img(
        src="/#{v}/images/logo-color.png"
        alt="Bugclaim Logo"
    )
.import-project-name-wrapper
    span.import-project-name Bugclaim
    p.import-project-description(translate="PROJECT.IMPORT.TAIGA.SELECTOR")
